/*
Description: Exclusive theme for the Taverna da Ilha Azul community.
Version: 1.0
License: Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0)
License URI: https://creativecommons.org/licenses/by-nc-nd/4.0/
Text Domain: tavernadailhaazul

Author: Helder Alàgba
Author URI: https://cacaucria.com.br

Contributions: This theme is open-source. Contributions are welcome via GitHub: https://github.com/tavernadailhaazul/tavernadailhaazul-theme
*/
